@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;900&family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  min-width: 1800px;
  font-family: "roboto", "Noto Sans KR";
}

/*navi*/

nav {
  height: 230px;
  margin: auto;
  background-color: #f5efdf;
  padding: 44px 100px 30px;
  box-sizing: border-box;
}

.nav__column__top {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__column__logo img {
  width: 90px;
  height: 90px;
}

.nav__column__login {
  width: 290px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__column__input{
  position:relative;
}

.nav__column__input > i{
  position:absolute;
  top:10px;
  right:20px;
  color:#a58d4d;

}

.nav__column__input > input {
  width: 245px;
  height: 35px;
  border: 2px solid #a58d4d;
  background-color: #f5efdf;
  border-radius: 20px;
}

.nav__column__login_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a58d4d;
  margin-top: 15px;
}

.nav__column__login_info > li {
  margin: 0px 12px;
}

.nav__column__bottom {
  margin-top: 20px;
}

.nav__bottom__gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a58d4d;
  font-size: 21px;
  font-weight: bold;
}

.nav__bottom__gnb > li{
  margin:0px 35px;
}

/*intro*/

.intro__bg_color {
  height: 430px;
  position: relative;
}

.intro__bg_color_or {
  height: 245px;
  background-color: #f5a46d;
}
.intro__bg_color_le {
  height: 185px;
  background-color: #ffde8a;
}

.intro__text {
  width: 170px;
  height: 180px;
  color: #19435e;
  position: absolute;
  top: 40px;
  left: 250px;
  font-family: "Noto Sans KR";
}

.intro__text > h5 {
  color: #19435e;
  font-size: 35px;
  font-weight: normal;
  line-height: 20px;
}

.intro__text > h1 {
  color: #19435e;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 13px;
}

.intro__text > h3 {
  font-weight: 700;
}

.intro__text > input {
  width: 160px;
  height: 40px;
  border: 2px solid #19435e;
  border-radius: 25px;
  background-color: transparent;
  color: #19435e;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.intro__images {
  width: 450px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  right: 380px;
}

.intro__image__custom > a > img {
  width: 172px;
  height: 285px;
  margin-left: 5px;
}

.intro__images > .intro__image__custom:nth-child(2) {
  margin-bottom: 160px;
}
/*e-Frequency*/
.e-Frequency {
  height: 660px;
  background-color: #f5efdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.e-Frequency__column__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.e-Frequency__info {
  color: #398a6c;
  text-align: left;
  margin-right:110px;
}
.e-Frequency__info > h3 {
  font-size: 48px;
  font-weight: bold;
}

.e-Frequency__info > h4 {
  font-size: 32px;
  font-weight: bold;
}

.e-Frequency__column__date {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #398a6c;
}

.e-Frequency__column__date > input{
  width:200px;
  height:50px;
  background-color: transparent;
  border:1px solid #398a6c;
  text-align: center;
  color:#398a6c;
  font-size: 23px;
  font-weight: bold;
}

.e-Frequency__period{
  margin-right:40px;
}

.e-Frequency__date__info{
  margin-right:40px;
}


.e-Frequency__images__btn {
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:80px;
}

.e-Frequency__images__btn > li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #398a6c;
  margin-left:30px;
}



.e-Frequency__column__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


.e-Frequency__images_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.e-Frequency__images_image > li > img {
  width: 380px;
  height: 260px;
  margin-right:15px;
}


.beverages{
  height:428px;
  background-color: #0d4e37;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.beverages__whole__column{
  display: flex;
  justify-content: center;
  align-items: center;
}

.beverages__column__new{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(255,255,255,0.3);
  padding-right:140px;
  box-sizing: border-box;
}

.beverages__column__new > h1{
  margin-bottom: 50px;
  font-size: 23px;
}
.beverages__new__images{
  display: flex;
  align-items: center;
  justify-content: center;
}



.beverages__new__images > li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 20px 5px;
}

.beverages__new__images > li >h1 {
  font-size:15px;
  font-weight: 400;

}

.beverages__new__images >li:nth-child(1) img,
.beverages__new__images >li:nth-child(3) img{
  width:93px;
  height:153px;
  margin-bottom:50px;
}

.beverages__new__images >li:nth-child(2) img{
  width:120px;
  height:180px;
  margin-bottom:20px;
}


.beverage__new__custom__price{
  display: flex;
  justify-content: center;
  align-items: center;
}

.beverages__new__images > li span{
  display: block;
  width:100px;
  height:1px;
  background-color: rgba(255,255,255,0.3);
  margin:3px 0px;
}

.beverage__new__custom__price > div{
  display:block;
  width:1px;
  height:10px;
  background-color:  rgba(255,255,255,0.3);
}

.beverage__new__custom__price > li{
  font-size:13px;
  border-right:1px solid  rgba(255,255,255,0.3);;
  padding:0px 3px;
  box-sizing: border-box;
}

.beverage__new__custom__price > li:nth-child(3){
  border-right: none;
}

.beverages__column__summer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:140px;
}

.beverages__column__summer > h1{
  font-size:23px;
}

.beverages__summer__images{
  display: flex;
  justify-content: center;
  align-items: center;
}

.beverages__summer__images > li{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0px 5px;
}

.beverages__summer__images > li  span{
  display: block;
  width:100px;
  height:1px;
  background-color: rgba(255,255,255,0.3);
  margin:3px 0px;
}

.beverages__summer__images > li > h1{
  font-size:15px;
  font-weight: 400;
}

.beverages__summer__images > li:nth-child(3) > h1{
  margin-top:23px
}

.beverages__summer__images > li:nth-child(4) > h1{
  margin-top:8px
}


.beverages__summer__images > li:first-child > img:nth-child(1){
  width:200px;
  height:260px;
}
.beverages__summer__images > li:nth-child(2) img{
  width:83px;
  height:182px;
  margin:60px 0px 16px;
}

.beverages__summer__images > li:nth-child(3) img {
  width:150px;
  height:170px;
  margin:60px 0px 5px;
}

.beverages__summer__images > li:nth-child(4) img {
  width:110px;
  height:185px;
  margin:60px 0px 5px;
}