@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;900&family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  font-family: "roboto", "Noto Sans KR";
}

section:not(.intro),
section
nav,
footer{
  padding: 50px 0px;
  box-sizing: border-box;
}

/*navi*/

#trigger{
  display: none;
}

nav {
  width:100%;
  background-color: #f5efdf;
  padding: 44px 100px 30px;
  box-sizing: border-box;
}

.nav__column__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav__column__logo img {
  width: 70px;
  height: 70px;
}

.nav__column__login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:60%;
}

.nav__column__input {
  position: relative;
}

.nav__column__input > a > i {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #a58d4d;
}

.nav__column__input > input {
  width: 245px;
  height: 35px;
  border: 2px solid #a58d4d;
  background-color: #f5efdf;
  border-radius: 20px;
}

.nav__column__login_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #a58d4d;
  margin-top: 15px;
}

.nav__column__login_info > li {
  margin: 0px 30%;
}

.nav__column__login_info > li > a{
  display:block;
  width:100%;
}

.nav__bottom__gnb {
  width:100%;
  height:10%;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a58d4d;
  font-size: 16px;
  font-weight: bold;
}

.nav__bottom__gnb > li{
  text-transform: uppercase;
  width:100%;
}


.nav__bottom__gnb a {
  display:block;
  line-height:40px;
  text-align: center;
  border-right:1px solid rgba(165,141,77,0.2);
  box-sizing: border-box;

}

.nav__bottom__gnb > li:last-child > a{
  border-right: 0px;
}




/*intro*/

.intro{
  width:100%;
  height: 500px;
}


.intro__bg_color {
  height: 100%;
  position: relative;
}

.intro__bg_color_or {
  height: 50%;
  background-color: #f5a46d;
}
.intro__bg_color_le {
  height: 50%;
  background-color: #ffde8a;
}

.intro__column{
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top:250px;
}

.intro__text {
  width: 170px;
  height: 180px;
  color: #19435e;
  font-family: "Noto Sans KR";
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom:220px;
}

.intro__text > h5 {
  color: #19435e;
  font-size: 35px;
  font-weight: normal;
  line-height: 20px;
}

.intro__text > h1 {
  color: #19435e;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 13px;
}

.intro__text > h3 {
  font-weight: 700;
}

.intro__text > input {
  width: 160px;
  height: 40px;
  border: 2px solid #19435e;
  border-radius: 25px;
  background-color: transparent;
  color: #19435e;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  cursor:pointer;
}

.intro__images {
  width: 450px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:60px;
}

.intro__image__custom > a > img {
  width: 172px;
  height: 285px;
  margin-left: 5px;
}

.intro__image__custom > a > img {
  width: 172px;
  height: 285px;
}

.intro__images > div:nth-child(2) > a > img {
  width: 150px;
  height: 255px;
  margin-top: 25px;
}

.intro__images > .intro__image__custom:nth-child(2) {
  margin-bottom: 160px;
}
/*e-Frequency*/
.e-Frequency {
  background-color: #f5efdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.e-Frequency__column__text {
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.e-Frequency__info {
  color: #398a6c;
  text-align: left;
  margin-right: 110px;
}
.e-Frequency__info > h3 {
  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
}

.e-Frequency__info > h4 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}

.e-Frequency__column__date {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #398a6c;
  margin-left: 20px;
}

.e-Frequency__column__date > input {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #398a6c;
  text-align: center;
  color: #398a6c;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
}

.e-Frequency__period {
  margin-right: 40px;
  font-weight: 500;
}

.e-Frequency__period > li:first-child {
  margin-bottom: 10px;
}

.e-Frequency__date__info {
  margin-right: 40px;
  font-weight: 500;
}

.e-Frequency__date__info > li:first-child {
  margin-bottom: 10px;
}

.e-Frequency__images__btn {
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
  margin-bottom: 30px; 
  cursor: pointer;
}

.e-Frequency__images__btn > li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #398a6c;
  margin-left: 30px;
}

.e-Frequency__images__btn > li:nth-child(4) {
  width: 80px;
  height: 20px;
  border-radius: 10px;
}

.e-Frequency__column__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 65px;
}

.e-Frequency__images_image {
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.e-Frequency__images_image > li > img {
  width: 380px;
  height: 260px;
  margin: 0px 35px;
}

.beverages {
  background-color: #0d4e37;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.beverages__whole__column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.beverages__column__new {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding-right: 140px;
  box-sizing: border-box;
  margin-top: 10px;
}

.beverages__column__new > h1 {
  margin-bottom: 60px;
  font-size: 30px;
}
.beverages__new__images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.beverages__new__images > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 20px 5px;
}

.beverages__new__images > li > h1 {
  font-size: 15px;
  font-weight: 400;
}

.beverages__new__images > li:nth-child(1) img,
.beverages__new__images > li:nth-child(3) img {
  width: 93px;
  height: 153px;
  margin-bottom: 50px;
}

.beverages__new__images > li:nth-child(2) img {
  width: 120px;
  height: 180px;
  margin-bottom: 20px;
}

.beverage__new__custom__price {
  width:130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beverages__new__images > li span {
  display: block;
  width: 100px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 3px 0px;
}

.beverage__new__custom__price > div {
  display: block;
  width: 1px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.beverage__new__custom__price > li {
  font-size: 13px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0px 3px;
  box-sizing: border-box;
}

.beverage__new__custom__price > li:nth-child(3) {
  border-right: none;
}

.beverages__column__summer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
  margin-top: 10px;
}

.beverages__column__summer > h1 {
  font-size: 30px;
}

.beverages__summer__images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.beverages__summer__images > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.beverages__summer__images > li:nth-child(3) {
  margin-top: 4px;
}

.beverages__summer__images > li:nth-child(3) > img {
  margin-right: 14px;
}

.beverages__summer__images > li span {
  display: block;
  width: 100px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 3px 0px;
}

.beverages__summer__images > li > h1 {
  font-size: 15px;
  font-weight: 400;
}

.beverages__summer__images > li:nth-child(3) > h1 {
  margin-top: 20px;
}

.beverages__summer__images > li:nth-child(4) > h1 {
  margin-top: 8px;
}

.beverages__summer__images > li:first-child > img:nth-child(1) {
  width: 200px;
  height: 260px;
}
.beverages__summer__images > li:nth-child(2) img {
  width: 83px;
  height: 182px;
  margin: 60px 0px 16px;
}

.beverages__summer__images > li:nth-child(3) img {
  width: 150px;
  height: 170px;
  margin-top: 60px;
}

.beverages__summer__images > li:nth-child(4) img {
  width: 110px;
  height: 185px;
  margin: 60px 0px 5px;
  margin-right: 10px;
}

/*homecafe*/

.homecafe {
  width: 100%;
  background-color: #adc0d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homecafe__papua__pic > img:nth-child(1) {
  width: 230px;
  height: 370px;
}

.homecafe__papua__pic > img:nth-child(2) {
  width: 120px;
  height: 190px;
}

.homecafe__rg__text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  color: #01333c;
}

.homecafe__rg__text > h1 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 25px;
}

.homecafe__rg__roast__text {
  margin-bottom: 22px;
}
.homecafe__rg__roast__text > h5 {
  font-size: 18px;
  font-weight: normal;
}

.homecafe__rg__text p:nth-child(3) {
  font-size: 12px;
  margin-bottom: 28px;
}

.homecafe__rg__text p:nth-child(4) {
  font-size: 18px;
  margin-bottom: 24px;
}

.homecafe__rg__text button {
  width: 219px;
  height: 36px;
  background-color: transparent;
  border: 2px solid #01333c;
  font-weight: bold;
  font-size: 18px;
  cursor:pointer;
}

/*near_place*/

.near_place {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.near_place_nav{
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.near_place > div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.near_place__find {
  width: 415px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #01333c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.near_place__find > li:nth-child(1) {
  font-size: 13px;
  margin-right: 15px;
  font-weight: 500;
}

.near_place__find > li:nth-child(2) {
  width: 230px;
  height: 20px;
  border-bottom: 1px solid #01333c;
  text-align: center;
  margin-right: 20px;
}

.near_place__find > li:nth-child(2) > span {
  font-size: 13px;
  opacity: 0.3;
}

.near_place__find > li:nth-child(3) > span > i {
  opacity: 0.8;
}

.near_place__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.near_place > div:nth-child(2) > img:nth-child(1) {
  width: 30%;
  height: 480px;
  margin-right: 26px;
}

.near_place > div:nth-child(2) > img:nth-child(2) {
  width: 60%;
  height: 480px;
}

.near_place__dots {
  width:300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 26px;
  margin-left:10%;
}
.near_place__dots > li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #041b13;
  cursor:pointer;
}

.near_place__dots > li:nth-child(4) {
  width: 80px;
  height: 20px;
  border-radius: 10px;
  background-color: #041b13;
}

footer {
  font-size: 10px;
  background-color: #041b13;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}

.footer__column > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.footer__column > ul > li {
  margin-bottom: 3px;
  cursor:pointer;
}

.footer__column > ul > li:nth-child(1) {
  font-size: 13px;
  margin-bottom: 6px;
  font-weight: bold;
}

footer > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}


@media screen and (min-width:1299px) and (max-width:1599px){


  
  /*section beverages*/



  .beverages__column__new{
    border: none;
  }

  
  .beverages__whole__column{
    flex-direction: column;
  }



  .beverages__column__summer{
    margin-top: 150px;
  }



}



@media screen and  (min-width:640px) and (max-width:1298px){


  /*nav*/
  .nav__bottom__gnb{
    margin:0px;
  }

  .nav__column__input > input {
    width:100%;
  }

  /*beverages*/

  .intro__images > div:first-child{
    display: none;
  }

  .intro__images > div:nth-child(2){
    margin-top:50px;
    transition:all 0.1s ease-in-out;
  }

  .intro__images > div:last-child{
    margin:0px 0px 80px 50px;
  }


  /*intro*/

  .intro__text{
    align-items: center;
    margin-left: 100px;
  }


  /*frequency image*/


  .e-Frequency__info{
    text-align: center;
    margin-right:0px;
    margin-bottom:50px;

  }

  .e-Frequency__column__text{
    flex-wrap: wrap;
  }

  .e-Frequency__images_image{
    
    flex-wrap: wrap;
  }
  .e-Frequency__images_image > li:last-child > img{
    display: none;
  }

  .e-Frequency__images__btn{
    display: none;
  }

  
  /*section beverages*/


  .beverages__column__new,
  .beverages__column__summer{
    margin: 0px;
    padding: 0px;
  }


  .beverages__column__new{
    border: none;
  }

  
  .beverages__whole__column{
    flex-direction: column;
  }



  .beverages__column__summer{
    margin-top: 150px;
  }

  



  /*homecafe*/
  .homecafe__papua__pic > img:nth-child(2){
    display: none;
    
  }

} 

@media  screen and (max-width:900px) {
  .e-Frequency__images_image{
    flex-wrap: wrap;
    justify-content: center;
  }
  .e-Frequency__images_image > li:last-child > img{
    display: none;
    margin:0px;
  }

  .e-Frequency__images__btn{
    display: none;
  }

  .e-Frequency__images_image > li {
    width:90%;
    padding:0px 20px;
  }

  .e-Frequency__images_image > li > img {
    width:100%;
    margin:0px;
  }

  .near_place__find{
    width:80%;
    height: 50px;
    border-radius: 10px;
    transition:all 0.1s ease-in-out;
  }

  .near_place__image > img:first-child{
    display: none;
  }

  .near_place > div:nth-child(2) > img:nth-child(2){
    width:100%;
    height: 100%;
    margin:0px;
    padding:0px 30px;
    box-sizing: border-box;
  }

  .near_place__dots{
    display:none;
  }



}


@media screen and (max-width:639px){


  /*nav*/

  .nav__bottom__gnb{
    margin:0px;
  }


  /*beverages*/

  .intro__images > div:first-child{
    display: none;
  }

  .intro__images > div:nth-child(2){
    display: none;
  }

  .intro__images > div:last-child{
    margin:0px 0px 80px 50px;
  }

  .beverages__summer__americano{
    display: none;
  }


  /*intro*/

  .intro__text{
    align-items: center;
    margin-left: 100px;
  }


  /*frequency image*/

  .e-Frequency{
    height:900px;
  }

  .e-Frequency__info{
    text-align: center;
    margin-right:0px;
    margin-bottom:50px;

  }

  .e-Frequency__column__text{
    flex-wrap: wrap;
  }

  
 

  
  /*section beverages*/


  .beverages__column__new,
  .beverages__column__summer{
    margin: 0px;
    padding: 0px;
  }


  .beverages__column__new{
    border: none;
  }

  
  .beverages__whole__column{
    flex-direction: column;
  }



  .beverages__column__summer{
    margin-top: 150px;
  }



  /*homecafe*/
  .homecafe__papua__pic > img:nth-child(2){
    display: none;
    
  }

} 

